BasedOnStyle: Google
AlignAfterOpenBracket: Align
ColumnLimit: 0
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: true